html{
 background-color: #1A1A1A;
  filter: invert(100%);
  margin: 0em;
  font-family: "Noto Sans JP", sans-serif;
  height: 150%;
}
body {
    min-height: 100%;
}

h2
{
  font-family: "Noto Sans JP", sans-serif;
  font-size:  200%;
}

.intro-information
{
    -webkit-text-size-adjust: 100%;    
    line-height: 1em;
    font-family: 'Noto Sans JP',sans-serif;
    font-weight: 300;
    width: inherit;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    max-width: 930px;
}

.intro-full-description
{
    -webkit-text-size-adjust: 100%;        
    font-weight: 300;
    display: block;
    width: 47.5%;
    
}

.intro-statistics
{
    -webkit-text-size-adjust: 100%;  
    line-height: 1em;    
    font-weight: 300;
    padding: 0 0 0 .5em;
    width: 52.5%;
    
}


.img {
  filter: invert(100%);
}

.cover {  
  filter: invert(100%);
  height: 400px;
  color: white;
  background-image: url(https://cdn.glitch.com/4cca95d7-5082-4e5c-8e1f-aea9cec38165%2Frsz_arian-darvishi-wh-rpfr_3_m-unsplash.jpg?v=1626162326250);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  
}

.textjp
{
  font-family: "Noto Sans JP";
}

.row{
  
  margin-top: 30px;
}

.cover-small {
  
  height: 200px;
  background-blend-mode: normal;
}

.card {
  background-color: #DADADA;
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-title {
  min-height: 2rem;
}

.card-text {
  min-height: 4rem;
}

/* ------------------------- */
/* SOCIAL MEDIA*/
/* ------------------------- */


:root {
    --color-linkedin: #3b5998;
    --color-twitter: #55acee;
    --color-instagram: #125688;
    --color-youtube: #363636;
}

.icons-container {
    display: flex;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: all .3s;
}

.icon:hover {
    transform: rotate(360deg);
}

.icon:not(:first-child) {
    margin-left: 5px;
}

.icon--linkedin {
    background-color: var(--color-linkedin);
}

.icon--facebook:hover {
    color: var(--color-facebook);
    background-color: #fff;
}

.icon--twitter {
    background-color: var(--color-twitter);
}

.icon--twitter:hover {
    color: var(--color-twitter);
    background-color: #fff;
}

.icon--youtube {
    background-color: var(--color-youtube);
}

.icon--youtube:hover {
    color: var(--color-youtube);
    background-color: #fff;
}

.icon--instagram {
    background-color: var(--color-instagram);
}

.icon--instagram:hover {
    color: var(--color-instagram);
    background-color: #fff;
}
